.mat-toolbar {
  height: 50px;
}

#routes {
  margin: 2% 5%;
}

#sidenav {
  min-width: 10px;
  width: 3%;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 10%;
}

.left-toolbar {
  justify-content: center;
  background-color: secondary;
}

.material-icons {
  font-size: 36px;
}
