.mat-toolbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#routes {
  margin: 5%;
}

::ng-deep .mat-icon {
  font-size: 24px !important;
}

#sidenav {
  max-width: 250px;
  min-width: 100px;
  width: 10%;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 10%;
}

.left-toolbar {
  justify-content: center;
  background-color: secondary;
}

.material-icons {
  font-size: 36px;
}

a {
  color: white;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
}
