.mat-toolbar {
  height: 50px;
}

#routes {
  margin: 5%;
}

#sidenav {
  max-width: 250px;
  min-width: 100px;
  width: 10%;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 10%;
}

.left-toolbar {
  justify-content: center;
  background-color: secondary;
}

.material-icons {
  font-size: 36px;
}
