.recipe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(80% + 16px);
}

.mat-h2,
.time-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-h3 {
  display: flex;
  margin: 0;

  & mat-icon {
    margin-right: 5px;
  }
}

.recipe-details {
  width: calc(80% - 16px);
}

.mat-divider {
  margin-bottom: 1%;
}

.title-and-button {
  display: flex;
  align-items: center;

  & button {
    display: flex;
  }
}

.modify-delete-buttons {
  display: flex;

  .modify-button {
    margin-right: 5px;
  }
}
