h2 {
  display: inline-flex;
  margin-right: 1%;
  margin-bottom: 5%;
}

table {
  width: 100%;
}

.rows:hover {
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.search-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
}
